<nav class="navbar navbar-light bg-warning"> 
    <div class="container-fluid">
        <h1 style="color:aliceblue">INFORMACION DEL EMPLEADO</h1>
        <div class="d-flex">
            <button id="nuevo" (click)="nuevo()" class="btn btn-success" data-toggle="modal" data-target="#exampleModal"> Nuevo Empleado</button>
        </div>
    </div>
</nav>

<section>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">IDE</th>
            <th scope="col"> Nombre Vendedor</th>
            <th scope="col"> Categoria</th>
          </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of departamentoVenta">
            <th scope="row">{{item.id}}</th>
            <td>{{item.nombreVendedor}}</td>
            <td>{{item.nombreCategoria}}</td>
             <td>
                <button class="btn btn-inf btn-success" data-toggle="modal" data-target="#exampleModal" (click)="editar(item)" > Editar </button>
                <button class="btn btn-danger mx-2" (click)="eliminar(item.id)"> Eliminar</button>
                <!--<button (click)="inventario()" class="btn btn-inf btn-success">Inventario</button>-->
            </td>
        </tr>
            
        </tbody>
      </table>
</section>

<section class="container">
  
    <!-- Button trigger modal -->
<button (click)="clientes()" type="button" class="btn btn-primary" >
    Informacion cliente
  </button>
  

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 *ngIf="editando==false" class="modal-title" id="exampleModalLabel">Registrar Nuevo Producto</h5>
          <h5 *ngIf="editando==true" class="modal-title" id="exampleModalLabel">Editar estudiante </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="formulario">
            <div class="form-group">
                <label for="examplenombreVendedor">Nombre Vendedor</label>
                <input type="text" formControlName="nombreVendedor" class="form-control"  aria-describedby="emailHelp" placeholder="nombreVendedor">
            </div>
            <div class="form-group">
                <label for="examplenombreCategoria">Categoria</label>
                <input type="text" formControlName="nombreCategoria" class="form-control"  aria-describedby="emailHelp" placeholder="nombreCategoria">
            </div>

          </form>
        </div>
        <div class="modal-footer">

          <button type="button" id="cerrarDialogo" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <section *ngIf="editando==false">
            <button *ngIf="this.formulario.valid==true" type="button" class="btn btn-success" (click)="guardar()">Registrar</button>
          <button *ngIf="this.formulario.valid==false" type="button" class="btn btn-success" disabled>Registrar</button>
          </section>
        
        <section *ngIf="editando==true">
          <button *ngIf="this.formulario.valid==true" type="button" class="btn btn-success" (click)="actulizar()">Actualizar</button>
        <button *ngIf="this.formulario.valid==false" type="button" class="btn btn-success" disabled>Actualizar</button>
        </section>
      </div>
      </div>
    </div>
  </div>
</section>